.arrow-down {
	width: 15px;
	height: 6px;
}

.step {
	color: #75013d;
	border: 1px solid #75013d;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.step-completed {
	color: #ffffff;
	background-color: #75013d;
	border: 1px solid #75013d;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.line-blue {
	width: 200px;
}
.step-title {
	font-weight: 500;
	font-size: 18px;
	color: #0a3a67;
	padding-left: 12px;
	padding-right: 12px;
}

.page-title {
	font-weight: 500;
	font-size: 16px;
	color: #0a3a67;
	margin: 0;
}

.pic-box {
	width: 200px;
	height: 191.18px;
	background: rgba(10, 58, 103, 0.03);
	border: 1px dashed rgba(10, 58, 103, 0.3);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.upload-pic {
	width: 52.86px;
	height: 37.04px;
}
.field-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #0a3a67;
}
.mt-0 {
	margin-top: 0px;
}

.service-box {
	background: #ffffff;
	border: 0.5px solid rgba(10, 58, 103, 0.4);
	border-radius: 10px;
	padding: 20px;
}
.service-btn {
	padding: 6px 16px;
	/* width: 158px;
	height: 33px;
	left: 672px;
	top: 572.53px; */
	background: rgba(10, 58, 103, 0.15);
	border-radius: 6px;
}
.steps-wrapper {
	background-color: #ffffff;
	box-shadow: 6px 6px 36px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	width: 1100px;
	min-width: 1100px;
	max-width: 1100px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
	.steps-wrapper {
		width: 300px;
		min-width: 300px;
		max-width: 300px;
		margin-top: 0px;
	}
	.line-blue {
		width: 62px !important;
	}
	.step-title {
		display: none;
	}
	.service-box {
		padding: 8px;
	}
	.service-btn {
		padding: 4px;
		margin-bottom: 8px;
	}
	.signup-btn {
		margin-bottom: 12px;
	}
}
