.properties-wrapper {
	background-color: #e7f1fb;
	width: 100%;
}
.bg-image {
	background-image: url("../../assets/images/properties/properties-bg@4x.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: auto;
	height: auto;
	margin-left: 160px;
}

@media only screen and (max-width: 600px) {
	.bg-image {
		margin-left: 0px;
	}
}
